<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.home}/var/log/integration.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${app.home}/var/log/backup/integration.%d{yyyy-MM-dd}.gz</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t][%-36logger{5}] %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="AUDIT-REQUEST" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.home}/var/log/audit.request.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${app.home}/var/log/audit/audit.request.%d{yyyy-MM-dd}.gz</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AUDIT-REPROCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.home}/var/log/audit.reprocess.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${app.home}/var/log/audit/audit.reprocess.%d{yyyy-MM-dd}.gz</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AUDIT-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.home}/var/log/audit.error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${app.home}/var/log/audit/audit.error.%d{yyyy-MM-dd}.gz</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AUDIT-SUCCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.home}/var/log/audit.success.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${app.home}/var/log/audit/audit.success.%d{yyyy-MM-dd}.gz</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MONITOR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.home}/var/log/monitor.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${app.home}/var/log/backup/monitor.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="integration.audit.reprocess" level="INFO" additivity="false">
        <appender-ref ref="AUDIT-REPROCESS"/>
    </logger>

    <logger name="integration.audit.request" level="INFO" additivity="false">
        <appender-ref ref="AUDIT-REQUEST"/>
    </logger>

    <logger name="integration.audit.error" level="INFO" additivity="false">
        <appender-ref ref="AUDIT-ERROR"/>
    </logger>

    <logger name="integration.audit.success" level="INFO" additivity="false">
        <appender-ref ref="AUDIT-SUCCESS"/>
    </logger>

    <logger name="monitor.reporter.log" level="INFO" additivity="false">
        <appender-ref ref="MONITOR"/>
    </logger>

    <logger name="jndi" level="WARN" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.apache.http" level="WARN" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.hibernate.validator" level="WARN" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.springframework.integration" level="WARN" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.eclipse.jetty" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>